<div class="row">
    <div class='col-sm-4'>
        <div class="progress" id='GANs-progress-container'>
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id='GANs-progress' style="width: 75%"></div>
        </div>
        <img id='img_GAN' src="" class="rounded img-responsive" alt=""  style='width:100%; border:1px solid black'>
        
    </div>
    <div class='col-sm-8'>
        
        <h2 class="display-6">Train GAN</h2>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="newOrResume" id="trainNew" value="new" checked onchange=toggleCheckbox()>
            <label class="form-check-label" for="trainNew">Train New</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="newOrResume" id="resume" value="resume" onchange=toggleCheckbox()> 
            <label class="form-check-label" for="resume">Resume Training</label>
        </div>
        <div class="form-group" id='generator_select'>
            <label for="source_gatys">Generator</label>
            <select type="text" class="form-control" id="source_generator2" value="textures/camo.jpg">
            </select>
        </div>
        <div class="form-group">
            <label for="source_GAN">Source Image</label>
            <select onchange='show_source_image("GAN")' type="text" class="form-control" id="source_GAN" value="textures/camo.jpg">
            </select>
        </div>
        <div class="form-group">
            <label for="lr_GAN_train">Learning Rate</label>
            <input type="text" class="form-control" id="lr_GAN_train" value="0.0002">
        </div>
        <div class="form-group">
            <label for="iter_GAN_train">Iterations</label>
            <input type="text" class="form-control" id="iter_GAN_train" value="16">
        </div>
        <div class="form-group">
            <label for="iter_GAN_train">Generator Name</label>
            <input type="text" class="form-control" id="name_GAN_train" value="">
        </div>
        <button onclick=GAN_train_button() class="btn btn-primary">Train</button>
    
    </div>
</div>

<script>
     function GAN_train_button(){
        var resume = $('#resume').is(':checked')
        var source_generator = $('#source_generator2').val()
        var source = $('#source_GAN').val()
        var lr = $('#lr_GAN_train').val()
        var iterations = $('#iter_GAN_train').val()
        var name = $('#name_GAN_train').val();
        GANs_active = true;
        GAN_target = name;
        var max = parseInt(iterations) * 128 / 16
        $('#GANs-progress-container').show();
        $('#GANs-progress').attr('aria-valuemax', max);
        $('#GANs-progress').attr('aria-valuenow', 0);
        var params = '?source=textures/' + source + '&target=' + name + '&iterations=' + iterations + '&learning_rate=' + lr + '&resume=' + resume + '&generator=' + source_generator;
        $.get('train_GAN' + params, function( data ) {
            GANs_active = false;
            $('#GANs-progress-container').hide();
            });
    }
        //Get progress for gatys
        function update_progress_GANs(){
        $.get('GAN_progress', function( data ) {
            console.log(data);
            total = $('#GANs-progress').attr('aria-valuemax')
            percent = (parseInt(data+1) / parseInt(total)) * 100
            $('#GANs-progress').attr('aria-valuenow', parseInt(data)).css('width', percent + '%');
      });
    }

    //Get latest image for gatys
function refresh_GANs(){
    var number = $('#GANs-progress').attr('aria-valuenow')
    var source = $('#source_GAN').val()
    console.log(GAN_target + number)
    d = new Date();
    $("#img_GAN").attr("src", 'image?target=temp/' + GAN_target + number +'.jpg&alt=textures/' + source + '&time=' +d.getTime());
}
function toggleCheckbox(){
    $("#generator_select").toggle()
    console.log($('#resume').is(':checked'))
}
</script>